body{
    overflow: hidden;
}
.name{
    position: relative;
 width: 75%;
 height: 35px;
 margin-left: 200px;
 margin-top: 30px;
 cursor: pointer;
 font-family: 'Playfair Display';
 font-style: normal;
 font-weight: bold;
 line-height: 35px;
 font-size: 20px;
 letter-spacing: 0.04em;
 
 color: #212121;
 
 }
 .email{
     position: absolute;
 width: 20px;
 height: 18px;
margin-left:930px;
margin-top: 0px;
 
 

 
 }
 .emaill{
    position: absolute;
width: 20px;
height: 16px;

margin-left:930px;
margin-top: 0px;


}

 .mailid{
     position: absolute;
 width: 278px;
 height: 21px;
 margin-left: 960px;
margin-top: 0px;
 
 font-family: 'Raleway';
 font-style: normal;
 font-weight: 500;
 line-height: 21px;
 font-size: 16px;
 text-transform: lowercase;
 
 color: rgba(0, 0, 0, 0.6);
 
 }
 .telephone{
     position: absolute;
     width: 19.89px;
     height: 19.80px;
    margin-left: 932px;
   margin-top: 30px;
     
     
 }
 .telephonenum{
     position: absolute;
 width: 112px;
 height: 21px;
 margin-left: 960px;
 margin-top: 30px;
 text-decoration: none;
 font-family: 'Raleway';
 font-style: normal;
 font-weight: 500;
 line-height: 21px;
 font-size: 16px;
 text-transform: uppercase;
 
 color: rgba(0, 0, 0, 0.6);
 
 }
 
 .title{
     position: relative;
    height: 400px;
    margin-left: 50px;
     margin-top: 110px;
 font-family:' Playfair Display';
 font-style: normal;
 font-weight: normal;
 line-height: 103px;
 font-size: 70px;
 text-align: center;
 text-transform: capitalize;
 
 color: #212121;
 
 }
 .content{
     position: relative;
 width: 720px;
 margin-top: -260px;
 margin-left: 343px;
 
 
 font-family: 'Raleway';
 font-style: normal;
 font-weight: 500;
 line-height: 32px;
 font-size: 18px;
 text-align: center;
 letter-spacing: 0.04em;
 
 color: rgba(33, 33, 33, 0.6);
 
 }
 .subname{
     font-family: 'Playfair Display';
 font-style: normal;
 font-weight: bold;
 
 font-size: 15px;
 letter-spacing: 0.04em;
 
 color: #212121;
 
 
 }
 .button1{
 position: relative;
 width: 140px;
 height: 40px;
 margin-left: 568px;
 margin-top:30px;
 
 background-color:  #000000;
 border: 2px solid #000000;
 box-sizing: border-box;
 
 }
 .hireme{
     position:absolute;
 width: 100px;
 height: 21px;
margin-top: -32px;
 margin-left: 585px;
 
 padding-left: 15px;
 font-family:' Raleway';
 font-style: normal;
 font-weight: bold;
 line-height: 21px;
 font-size: 16px;
 text-align: center;
 letter-spacing: 0.04em;
 text-transform: uppercase;
 text-decoration: none;
 color:#FFFFFF;
 
 }
 .hireme:hover{
     color: #FFFFFF;
     text-decoration: none;
 }
 .button2{
     
 position: relative;
 width: 140px;
 height: 40px;
 margin-left: 729px;
 
 top:-42px;
 background-color: #FFFFFF;
 border: 2px solid #000000;
 box-sizing: border-box;
 margin-bottom: 33px;
 }
 .resume{
     position: relative;
 width: 70px;
 height: 21px;
 
 
 font-family:' Raleway';
 font-style: normal;
 font-weight: bold;
 line-height: 21px;
 font-size: 16px;
 text-align: center;
 letter-spacing: 0.04em;
 text-transform: uppercase;
 text-decoration: none;
 
 color:black;
 margin-bottom: 50px;
 }
 @media (max-width:576px){
    .navbar-toggler {
    margin-left: 165px;
    }
    .name{
        margin-left: 10%;
        font-size: 15px;
        width:50%;
        margin-top: 5%;
    }
    .email{
        margin-left: 10%;
        margin-top: 2%;
    }
    .emaill{
        margin-left: 10%;
        margin-top: 2%;
    }
   
    .mailid{
        margin-left: 17%;
        margin-top: 2%;
        font-size: 14px;
        width:2%;
    }
    .telephone{
        margin-left:10%;
        margin-top: 10%;
        
    }
    .telephonenum{
        margin-left: 17%;
        margin-top: 10%;
       
    }
    .title{
        font-size: 25px;
        width:80%;
        margin-top: 15%;
        margin-left: 10%;

    }
    .content{
        width:70%;
        margin-left: 15%;
        font-size: 14px;
        margin-top: -80%;
    }
    .button1{
        margin-left: 15%;
    }
    .hireme{
        margin-left: 18%;
    }
    .button2{
        margin-left: 55%;
        
    }
    body{
        overflow-y: scroll;
    }
 }
 @media(max-width:320px){
    .title{
        width:100%;
        margin-left: 1%;
    }
    .content{
        margin-top: -93%;
    }
    
    
 }