.name3{
    position: relative;
width: 117px;
height: 24px;
left: 200px;
top: 50px;
text-decoration: none;
cursor: pointer;
font-family: 'Playfair Display';
font-style: normal;
font-weight: bold;
line-height: 35px;
font-size: 15px;
letter-spacing: 0.04em;

color: #212121 !important;
}
.name3:hover{
  color:black !important;
  text-decoration: none !important;
}
textarea {
  overflow: auto;
  resize: none;
}

   .input1{
  position: relative;
    width: 620px;
    height: 50px;
    margin-top: 100px;
    margin-left: 200px;
    background: #F5F5F5;
    border: none;
    padding-left: 20px;
   }
  
   .input2{
      position: relative;
        width: 620px;
        height: 50px;
        margin-top: 20px;
        margin-left: 200px;
        background: #F5F5F5;
        border: none;
        padding-left: 20px;
       }
       .input3{
         position: relative;
           width: 620px;
           height: 150px;
           margin-top: 20px;
           margin-left: 200px;
           background: #F5F5F5;
           border: none;
           padding-left: 20px;
          }
          .input4{
            position: relative;
              width: 620px;
              height: 50px;
              margin-top: 20px;
              margin-left: 200px;
              background: black;
              border: none;
              padding-left: 20px;
             }
             h6{
               width: 38px;
               height: 19px;
               font-family: 'Raleway';
               font-style: normal;
               font-weight: 600;
               line-height: 18px;
               font-size: 14px;
               margin-left: 280px;
               text-transform: uppercase;
               
               color: #FFFFFF;
               
             }
   ::placeholder{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    font-size: 14px;
    text-align:left;
    padding-left: 20px;
    text-transform: capitalize;
    margin-left: 10px !important;
    color: rgba(0, 0, 0, 0.6);
   }
  
   .linkedin{
    position: absolute;
   margin-left: 80px;
   margin-top: 110px;
    width: 24px;
    height: 24px;
   }
  
   .linkedinname{
      position:absolute;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    margin-left: 115px;
    margin-top: 115px;
    color: #0077B5;
    
   }
   
   .github{
      position: absolute;
    margin-left: 80px;
     margin-top: 10px;
      width: 24px;
      height: 24px;
     }
    
     .githubnames{
        position:absolute;
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 600;
      line-height: 21px;
      font-size: 16px;
      text-align: center;
      text-transform: uppercase;
     margin-top: 10px;
     margin-left: 115px;
     
      color: #0077B5;
      
     }
     .facebook{
      position: absolute;
    margin-left: 80px;
     margin-top:-40px;
      width: 24px;
      height: 24px;
      display: none;
     }
    
     .facebookname{
        position:absolute;
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 600;
      line-height: 21px;
      font-size: 16px;
      text-align: center;
      text-transform: uppercase;
     margin-top: -38px;
     margin-left: 115px;
     display: none;
      color: #0077B5;
      
     }
     .twiter{
      display: none;
      position: absolute;
    margin-left: 80px;
     margin-top: -190px;
      width: 24px;
      height: 24px;
     }
    
     .twitername{
      display: none;
        position:absolute;
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 600;
      line-height: 21px;
      font-size: 16px;
      text-align: center;
      text-transform: uppercase;
     margin-top: -190px;
     margin-left: 115px;
     
      color: #0077B5;
      
     }
     .email1{
      position: absolute;
margin-left: 900px;
margin-top: -100px;
     }
   .mailid1{
     position: absolute;
     margin-top: -100px;
    margin-left: 940px;
     font-family: 'Raleway';
 font-style: normal;
 font-weight: 500;
 line-height: 21px;
 font-size: 16px;
 text-transform: lowercase;
 
 color: rgba(0, 0, 0, 0.6);
 
   }
   .telephone1{
     position: absolute;
     margin-left: 900px;
     margin-top: -60px;
   }
   .telephonenum1{
     position: absolute;
     margin-top: -60px;
     margin-left: 940px;
     font-family: 'Raleway';
 font-style: normal;
 font-weight: 500;
 line-height: 21px;
 font-size: 16px;
 text-transform: uppercase;
 
 color: rgba(0, 0, 0, 0.6);
 
   }
   @media (max-width:576px){
     .menu{
       margin-left: 0%;
       margin-top: -20%;
     }
.name3{
  margin-left: -50%;
  top: 10px;
}

.input1{
  margin-left: 5%;
  width: 80%;
  margin-top: 10%;
}
.input2{
  margin-left: 5%;
  width: 80%;
  margin-top: 5%;
}
.input3{
  margin-left: 5%;
  width: 80%;
  margin-top: 5%;
}
.input4{
  margin-left: 5%;
  width: 80%;
  margin-top: 5%;
}
h6{
  margin-left: 40%;
}
.linkedin{
  margin-left: -80%;
  margin-top: 122%;
}
.linkedinname{
  margin-left: -70%;
  margin-top: 122%;
}
.github{
  margin-left: -80%;
  margin-top: 110%;
}
.githubnames{
  margin-left: -70%;
  margin-top: 110%;
}
.facebook{
  margin-left: -80%;
  margin-top: 88%;

}
.facebookname{
  margin-left: -70%;
  margin-top: 88%;
}
.twiter{
  margin-left: -80%;
  margin-top: 54%;
}
.twitername{
  margin-left: -70%;
  margin-top: 54%;

}
.email1{
  margin-left: 5%;
  margin-top: 40%;
}
.mailid1{
  margin-left: 14%;
  margin-top: 40%;
  font-size: 14px;
  color: black;
}
.telephone1{
  margin-left: 5%;
  margin-top: 50%;
}
.telephonenum1{
  margin-left: 14%;
  margin-top: 50%;
  margin-bottom: 50px;
  color:black;
}


   }
   @media (max-width:411px){
     .name3{
       margin-left: -175px;
     }
     .linkedin{
     
      margin-top: 115%;
    }
    .linkedinname{
     
      margin-top: 115%;
    }
    .github{
     
      margin-top: 105%;
    }
    .githubnames{
     
      margin-top: 105%;
    }
   
   }
   /* @media (max-width:320px){
    .linkedin{
     
      margin-top: 150%;
    }
    .linkedinname{
     
      margin-top: 130%;
    }
    .github{
     
      margin-top: 117%;
    }
    .githubnames{
     
      margin-top: 117%;
    }
   } */
   @media (max-width:414px){
     .name3{
       margin-left: -42%;
     }
     .linkedin{
     
      margin-top: 115%;
    }
     .linkedinname{
     
      margin-top:115%;
    }
    .github{
     
      margin-top: 105%;
    }
    .githubnames{
     
      margin-top: 105%;
    }
   }
  @media (max-width:320px){
    .name3{
      margin-left: -176px;
    }
    .linkedin{
     
      margin-top: 130%;
    }
    .linkedinname{
     
      margin-top: 130%;
    }
    .github{
     
      margin-top: 117%;
    }
    .githubnames{
     
      margin-top: 117%;
    }
  }
  @media (max-width:360){
.name3{
  margin-left: -177px;
}
  }