body{
    overflow: auto;
}

.grid{

    position:fixed;
    width:100%;
    bottom:30px;
}


.col-sm-3 {
    width: 25%;
    background: #ECF0F1;
    height: 70px;
    line-height: 70px;
    top:30px;
    font-family: 'Playfair Display';
font-style: normal;
font-weight: normal;

font-size: 20px;
text-align: center;
letter-spacing: 0.04em;
text-transform: capitalize;
} 
.col-sm-3:hover{
    background-color:white;
}
.menu{
    float: right;
}
.material-icons{
    display: none;
}
.navbar1 {
display: none;
}


@media (max-width:576px){
  
   .col-sm-3{
     display:none; 
       
   }
  
.navbar1{
    display: block;
    z-index: -1;
}
.nav-link{
    text-align: center;
}
}
