.name5{
    position: relative;
    width: 117px;
    height: 24px;
    left: 200px;
    margin-top: 20px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: bold;
    line-height: 35px;
    font-size: 15px;
    letter-spacing: 0.04em;
    color: #212121;
}
.pro1{
    position: relative;

top: -17px;;
width: 515px;
height: 250px;
margin-right: 5px;


}
.pro2{
    width: 515px;
    position: relative;
    height:250px;
    margin-top: -17px;
}

.proname1{
    position: relative;
margin-left: 10px;
/* right: 75.53%;
top:200px;
bottom: 57.91%; */

font-family: 'Raleway';
font-style: normal;
font-weight: normal;
line-height: 18px;
font-size: 14px;
/* text-align: center; */
text-transform: uppercase;

color:black;;

}
.proname2{
   position:relative;
   margin-top: 20px;
  /* top:200px; */
  margin-left: 10px;
    font-family: 'Raleway';
font-style: normal;
font-weight: normal;
line-height: 18px;
font-size:14px;
/* text-align: center; */
text-transform: uppercase;

color:black;

}
.bootstrap{
    position:absolute;
    top:230px;
    left: 20px;
    font-family: 'Raleway';
    font-style: normal;
   
    line-height: 21px;
    font-size: 14px;
    
    color:#FFFFFF;
}
.bootstrap1{
    position:absolute;
   top:230px;
    font-family: 'Raleway';
font-style: normal;
text-decoration: none;
line-height: 21px;
font-size: 14px;
left:20px;
color:#FFFFFF;
}
.project1{
    position: relative;
    width: 515px;
    height:490px;
    top:30px;
    background: #FFFFFF;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    margin-left: 200px;
  margin-bottom: 23px;

}
.project2{
  position: absolute;
    width: 515px;
    height:490px;
    top:65px;
    left: 530px;
    background: #FFFFFF;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    margin-left: 200px;
   
}
.description{
   margin-top: 15px;
    left:10px;
    position: absolute;
    font-family: 'Raleway';
font-style: normal;
font-weight: normal;
line-height: 18px;
font-size: 14px;
/* text-align: center; */
text-transform: uppercase;
}
.description1{
    left:10px;
   margin-top: 15px;
   
    position: absolute;
    font-family: 'Raleway';
font-style: normal;
font-weight: normal;
line-height: 18px;
font-size: 14px;
/* text-align: center; */
text-transform: uppercase;
}
.para{
    position: absolute;
    width:100%;
  left:10px;
 margin-top: 35px;
  font-family: 'Raleway';
font-style: normal;
font-weight: 700px;
line-height: 21px;
font-size: 14px;

color: #000000;
}
.stack{
    position: absolute;
    margin-top: 150px;
    left:10px;
    font-family: 'Raleway';
font-style: normal;
font-weight: normal;
line-height: 18px;
font-size: 14px;
text-align: center;
text-transform: uppercase;

color: rgba(0, 0, 0, 0.6);
}
.list{
    position: absolute;
    top:450px;
    left:10px;
    font-family: 'Raleway';
font-style: normal;
/* font-weight: 700px; */
line-height: 21px;
font-size: 14px;

color: #000000;

}
.para1{
    
        position: absolute;
        width:100%;
        top:305px;
      left:10px;
      font-family: 'Raleway';
    font-style: normal;
    /* font-weight: bolder; */
    line-height: 21px;
    font-size: 14px;
    
    color: #000000;
    
}
.stack1{

    position: absolute;
    /* top:395px; */
    margin-top: 140px;
    left:10px;
    font-family: 'Raleway';
font-style: normal;
font-weight: normal;
line-height: 18px;
font-size: 14px;
text-align: center;
text-transform: uppercase;

color: rgba(0, 0, 0, 0.6);
}
.list1{
    position: absolute;
    top:450px;
    left:10px;
    font-family: 'Raleway';
font-style: normal;
/* font-weight: bolder; */
line-height: 21px;
font-size: 14px;

color: #000000;

} 
.githubb{
    position: absolute;
   margin-top:150px;
   margin-left: 10px;
}
.gitname{
    margin-left: 30px;
    margin-top: 150px;
    position: absolute;
    font-family: 'Raleway';
font-style: normal;
font-weight: 600;
line-height: 18px;
font-size: 14px;
text-transform: uppercase;
}

    .githubb1{
        top:450px;
        margin-left: 10px;
        position: absolute;
    }
    .gitname1{
    
        top: 450px;
         left:30px;
          position: absolute;
          font-family: 'Raleway';
   font-style: normal;
   font-weight: 600;
   line-height: 18px;
   font-size: 14px;
   text-transform: uppercase;
       }
       @media (max-width:576px){
        
           .name5{
           margin-top: -7%;
           margin-left: -170px;
            position: relative; 
            cursor: pointer;
           
           }
           
           .project1{
               position: relative;
               margin-left: 30px;
               width:80%;
               height: 500px;
               background-color:#FFFFFF;
               margin-top: 0px;
              
           }
           .pro1{
              margin-top:0px;
               width:100%;
               height:170px;
           }
           .proname1{
               /* position: absolute; */
             font-size: 14px;
             width: 100%;
             left: 10px;
            
            
           }
           .bootstrap{
               position: absolute;
              font-size: 14px;
               margin-top: -100px;
               margin-left: -10px;
               
           }
           .description{
               font-size: 16px;
               margin-top: 15px;
               margin-left: 10px;
           }
           
           .para{
               margin-top: 50px;
               width:90%;
               font-family: 'Raleway';
               font-style: normal;
               font-weight: normal;
               line-height: 20px;
               font-size: 14px;
               margin-left: 10px;
               color: #000000;

           }
           .stack{
               margin-top: 250px;
               font-weight: 500;
               opacity: 1;
               color: #000000;
               font-size: 16px;
               margin-left: 10px;
           }
           .list{
         margin-top: 10px;
           margin-left: 10px;
            width: 100%;
            font-size: 14px;
            font-weight: normal;
               
           }
           .githubb{
            
           margin-top:180px;
           margin-left: 10px;
        }
        .gitname{
            margin-top: 180px;
            margin-left: 30px;
            font-size: 12px;
        }
           
           .project2{
               position: relative;
             margin-left: -497px;
             width:80%;
               height: 500px;
          margin-top: 0px;
          margin-bottom: 50px;
           }
           .pro2{
            
                margin-top: -18px;
                width:100%;
                height:170px;
           }
           .proname2{
               margin-left: 20px;
font-size: 14px;
               /* margin-top: -95px; */
           }
           .bootstrap1{
         font-size: 14px;
             margin-top: -105px;
             margin-left: -10px;
             
           }
           .para1{
               margin-top: -55px;
               margin-left: 10px;
               font-family: 'Raleway';
               font-style: normal;
               font-weight: normal;
               width:90%;
               font-size: 14px;
               line-height: 20px;
               color: #000000;
           }
           .description1 {
               margin-top: 15px;
               margin-left: 10px;
               font-size: 16px;
           }
           .stack1{
               margin-top:230px;
               margin-left: 10px;
               font-weight: 500;
               opacity: 1;
               color: #000000;
               font-size: 16px;
           }
           .list1{
               margin-left: 10px;
               width:100%;
               font-size: 14px;
               font-weight: normal;
           }
           .githubb1{
margin-top: -90px;
           }
           .gitname1{
               margin-top: -90px;
               font-size: 12px;
           }
       }
       /* @media(max-width:411px){
           .pro1{
               height:188px;
           }
           .pro2{
               height:188px;
           }
           .stack{
               margin-top: 90px;
           }
           .list{
               top:320px;
           }
           .githubb{
               margin-top: 170px;
           }
           .gitname{
               margin-top: 170px;
           }
           .para1{
               margin-top: -97px;
               color: #000000;
           }
       } */
       /* @media (max-width:320px){
.stack{
    margin-top: 100px;
}
.stack1{
    margin-top: -100px;
}
       } */
       /* @media (max-width:375px){
        .stack{ 
        margin-top: 100px;
        }
        .list{
            top:330px;
        }
        .stack1{ 
            margin-top: -100px;
            }
       } */
       /* @media (max-width:414px){
           .pro1{
               height:188px;
           }
           .pro2{
            height:188px;  
           }
           .stack{
               margin-top: 97px;
           }
           .list{
               top:320px;
           }
           .githubb{
               margin-top: 160px;
           }
           .gitname{
               margin-top: 160px;
           }
           .para1{
               margin-top: -95px;
           }
       } */