.flex-wrapper {
    display: flex;
    flex-flow: row nowrap;
  margin-top: -150px;
  margin-left: 300px;
  
    
  }
  .flex-wrapper1 {
    display: flex;
    flex-flow: row nowrap;
  margin-top: -150px;
  margin-left: 620px;
    
  }
  .flex-wrapper2 {
    display: flex;
    flex-flow: row nowrap;
   margin-top: -150px;
    margin-left: 940px;
  }
  
  .flex-wrapper3 {
    display: flex;
    flex-flow: row nowrap;
    margin-top: -150px;
    margin-left: 295px;
  }
  
  .flex-wrapper4 {
    display: flex;
    flex-flow: row nowrap;
    margin-top: -150px;
    margin-left: 620px;

    
  }
  .flex-wrapper5 {
    display: flex;
    flex-flow: row nowrap;
    margin-top: -150px; 
    margin-left: 940px;

    
  }
  .flex-wrapper6 {
    display: flex;
    flex-flow: row nowrap;
    margin-top: -150px;
    margin-left: 295px;

    
  }
  .single-chart {
    width:8%;
    justify-content: space-around ;
  }
  .single-chart1 {
    width:12%;
    justify-content: space-around ;
  }
  .single-chart2 {
    width:19.3%;
    justify-content: space-around ;
  }
  .single-chart3{
    width:8.3%;
    justify-content: space-around ;
  }
  .single-chart4 {
    width:12%;
    justify-content: space-around ;
  }
  .single-chart5 {
    width:20%;
    justify-content: space-around ;
  }
  .single-chart6 {
    width:8.5%;
    justify-content: space-around ;
  }

  .circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 100%;
    max-height: 270px;
  }
  
  .circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 2.8;
  }
  
  .circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
  }
  
  @keyframes progress {
    0% {
      stroke-dasharray: 0 200;
    }
  }
  
  .circular-chart.orange .circle {
    stroke: #ff9f00;
  }
  
  .circular-chart.green .circle {
    stroke: #4CC790;
  }
  
  .circular-chart.blue .circle {
    stroke: #3c9ee5;
  }
  .circular-chart.yellow .circle {
    stroke: yellow;
  }
  .circular-chart.lightgrean .circle {
    stroke: lawngreen;
  }
  .circular-chart.red .circle {
    stroke: red;
  }
  .circular-chart.lightblue .circle {
    stroke:slateblue;
  }
  .percentage {
    fill: #666;
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
  }
  @media (max-width:576px){
    .flex-wrapper{
      margin-left: 40%;
      margin-top: -40%;
    }
    .single-chart{
      width: 36%;
    }
    .flex-wrapper1{
      margin-left:40%;
      margin-top: 22%;
    }
    .single-chart1{
      width: 38%;
    }
    .flex-wrapper2{
      margin-left: 40%;
      margin-top: -38%;
    }
    .single-chart2{
      width: 38%;
    }
    .flex-wrapper3{
      margin-left: 40%;
      margin-top: 16%;
    }
    .single-chart3{
      width: 40%;
    }
    .flex-wrapper4{
      margin-left: 40%;
      margin-top: -40%;
    }
.single-chart4{
  width: 40%;
}
.flex-wrapper5{
  margin-left: 40%;
  margin-top: 17%;
}
.single-chart5{
  width: 40%;
}
.flex-wrapper6{
  margin-left: 40%;
  margin-top: -39%;
}
.single-chart6{
  width: 40%;
}
  }
  @media(max-width:414px){
    .flex-wrapper1{
        margin-top: 18%;
    }
    /* .flex-wrapper3{
      margin-top: 12%;
    }
    .flex-wrapper5{
      margin-top: 14%;
    } */
}
@media (max-width:411px){
  /* .flex-wrapper {
  margin-left: 40%;
  margin-top: -36%;
  } */
  .flex-wrapper1 {
      margin-left: 40%;
      margin-top: 18%;
  }
  /* .flex-wrapper1 {
      margin-left: 40% !important;
      margin-top: 18% !important;
  } */
  .flex-wrapper3{
      margin-left: 40% !important;
      margin-top: 16% !important;
  }
  /* .flex-wrapper5{
      margin-left: 40% !important;
      margin-top: 15% !important;
  } */
}
/* @media(max-width:320px){
  .flex-wrapper{
    margin-top: -44%;
    margin-left: 38%;
  }
} */