.skills{
    font-family: 'Playfair Display';
font-style: normal;
font-weight: normal;
line-height: 35px;
font-size: 20px;
text-align: center;
letter-spacing: 0.04em;
text-transform: capitalize;

color: #212121;

    cursor: pointer;
      
}
.namee1{
    position: relative;
width: 117px;
height: 24px;
margin-left: 200px;
margin-top: 0px;

font-family: 'Playfair Display';
font-style: normal;
font-weight: bold;
line-height: 35px;
font-size: 15px;
letter-spacing: 0.04em;

color: #212121;
}
.box1{
    z-index: -1;
    position: relative;
width: 300px;
height: 150px;
margin-left: 200px;

margin-right: 2px;
margin-bottom: 2px;
margin-top: 30px;
background: #FFFFFF;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
border-radius: 2px;
}
.html{
    position: absolute;
    
    margin-left: 310px;
margin-top:10px;
font-family: 'Raleway';
font-style: normal;
font-weight: 500;
line-height: 31px;
font-size: 20px;
text-align: center;
letter-spacing: 0.04em;
text-transform: capitalize;

color: #000000;


}
.box2{
    z-index: -1;
    position: relative;
width: 300px;
height: 150px;
margin-left: 520px;
margin-right: 2px;
margin-bottom: 2px;
margin-top: -105px;
background:#FFFFFF;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
border-radius: 2px;
}
.css{
    position: absolute;
    
    margin-left: 635px;
margin-top:10px;
font-family: 'Raleway';
font-style: normal;
font-weight: 500;
line-height: 31px;
font-size: 20px;
text-align: center;
letter-spacing: 0.04em;
text-transform: capitalize;

color: #000000;


}
.box3{
    z-index: -1;
    position: relative;
width: 300px;
height: 150px;
margin-left: 840px;
margin-right: 2px;
margin-bottom: 2px;
margin-top: -110px;
background:#FFFFFF;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
border-radius: 2px;
}
.javascript{
    position: absolute;
    
    margin-left: 945px;
margin-top:10px;
font-family: 'Raleway';
font-style: normal;
font-weight: 500;
line-height: 31px;
font-size: 20px;
text-align: center;
letter-spacing: 0.04em;
text-transform: capitalize;

color: #000000;


}
.box4{
    z-index: -1;
    position: relative;
width: 300px;
height: 150px;
margin-left: 200px;
margin-right: 2px;
margin-bottom: 2px;
margin-top: 70px;
background:#FFFFFF;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
border-radius: 2px;
}
.reactjs{
    position: absolute;
    
    margin-left: 300px;
margin-top:10px;
font-family: 'Raleway';
font-style: normal;
font-weight: 500;
line-height: 31px;
font-size: 20px;
text-align: center;
letter-spacing: 0.04em;
text-transform: capitalize;

color: #000000;


}
.box5{
    z-index: -1;
    position: relative;
width: 300px;
height: 150px;
margin-left: 520px;
margin-right: 2px;
margin-bottom: 2px;
margin-top: -110px;
background:#FFFFFF;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
border-radius: 2px;
}
.nodejs{
    position: absolute;
    
    margin-left: 625px;
margin-top:10px;
font-family: 'Raleway';
font-style: normal;
font-weight: 500;
line-height: 31px;
font-size: 20px;
text-align: center;
letter-spacing: 0.04em;
text-transform: capitalize;

color: #000000;


}
.box6{
    z-index: -1;
    position: relative;
width: 300px;
height: 150px;
margin-left: 838px;
margin-right: 2px;
margin-bottom: 2px;
margin-top: -110px;
background:#FFFFFF;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
border-radius: 2px;
}
.mongodb{
    position: absolute;
    
    margin-left: 940px;
margin-top:10px;
font-family: 'Raleway';
font-style: normal;
font-weight: 500;
line-height: 31px;
font-size: 20px;
text-align: center;
letter-spacing: 0.04em;
text-transform: capitalize;

color: #000000;


}
.box7{
    z-index: -1;
    position: relative;
width: 300px;
height: 150px;
margin-left: 200px;
margin-right: 2px;
margin-bottom: 2px;
margin-top: 60px;
background:#FFFFFF;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
border-radius: 2px;

}
.mysql{
    position: relative;
   
    margin-left: -700px;
margin-top:-10px;
font-family: 'Raleway';
font-style: normal;
font-weight: 500;
line-height: 31px;
font-size: 20px;
text-align: center;
letter-spacing: 0.04em;
text-transform: capitalize;

color: #000000;
margin-bottom: 40px;

}
@media (max-width:576px){
    body{
        overflow-y: scroll;
    }
    .namee1{
     margin-top: -4%;
       margin-left: 10%;
       font-size: 14px;
    }
    .box1{
        margin-left: 15%;
        height:150px;
        width:280px;
        margin-top: 7%;
    }
    .html{ 
        margin-left: 44%;
        margin-top: 0%;
    }
    .box2{
        position:absolute;
        height:150px;
        width:280px;
        margin-left: 15%;
        margin-top: 17%;
       
    }
    .css{
        margin-left: 45%;
        margin-top: 0%;
    }
    .box3{
        position: relative;
        margin-left: 15%;
        margin-top: 17%;
        height:150px;
        width:280px;
     
    }
    .javascript{
        margin-left: 38%;
        margin-top: 0%;
    }
    .box4{
        position: absolute;
        height: 150px;
        width: 280px;
        margin-left: 15%;
        margin-top: 17%;
        
       
    }
    .reactjs{
        margin-left: 42%;
        margin-top: 0%;
    }
    .box5{
        position: relative;
        margin-left: 15%;
        margin-top: 20%;
        height:150px;
        width:280px;
        
    }
    .nodejs{
        margin-left: 40%;
        margin-top: 0%;
    }
    .box6{
        position:absolute;
        height:150px;
        width:280px;
        margin-left: 15%;
        margin-top: 17%;
        
    }
    .mongodb{
        margin-left: 40%;
        margin-top: 0%;
    }
    .box7{
        position: relative;
        margin-left: 15%;
        margin-top: 17%;
        height:150px;
        width:280px;
       
    

    }
    .mysql{
        margin-left: 4%;
        margin-top: 0%;
    } 
}

@media (max-width:320px){
    .box1{
        margin-left: 15px;
        margin-top: 10%;
    }
    .html{
        margin-left: 42%;
    }
    .box2{
        margin-left: 5%;
    }
    .box3{
    margin-top: 20%;
    margin-left: 5%;
}
.box4{
    margin-left: 5%;
    margin-top: 12%;
}
.box5{
    margin-top: 20%;
    margin-left: 5% ;
}
.box6{
    margin-left: 5%;
}
.box7{
    margin-top: 20%;
    margin-left: 5% ;
}
}
@media(max-width:414px){
    .flex-wrapper1{
        margin-top: 18%;
    }
}